<component-field [id]="id()" [label]="label()" [errors]="errors()" [showErrors]="showErrors()">
  <input
    [id]="id()"
    [name]="name()"
    [type]="showPassword() ? 'text' : 'password'"
    [value]="value()"
    [required]="required()"
    [placeholder]="placeholder()"
    [attr.aria-invalid]="showErrors()"
    [attr.aria-describedby]="showErrors() ? id() + 'error' : null"
    (input)="handleInput($event)"
    (blur)="touched.set(true)"
    [attr.autocomplete]="autocomplete()"
  />
  <button
    type="button"
    (click)="togglePassword()"
    [attr.aria-label]="showPassword() ? 'Ocultar senha' : 'Mostrar senha'"
  >
    <img
      ngSrc="{{ showPassword() ? 'btn/btn-eye-crossed.svg' : 'btn/btn-eye.svg' }}"
      width="14"
      height="14"
    />
  </button>
</component-field>
